{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<f:if condition="{posts}">
	<f:then>
		<ul{attributes -> f:format.raw()}>
			<f:for each="{posts}" as="singlePost" iteration="postIterator">
				<li>
					<f:if condition="{showFullFirstPost}">
						<f:then>
							<f:if condition="{postIterator.isFirst}">
								<f:then>
									<ts:render path="post" context="{node:singlePost}" />
								</f:then>
								<f:else>
									<ts:render path="listItem" context="{node:singlePost}" />
								</f:else>
							</f:if>
						</f:then>
						<f:else>
							<ts:render path="listItem" context="{node:singlePost}" />
						</f:else>
					</f:if>
				</li>
			</f:for>
		</ul>
	</f:then>
	<f:else>
		<div data-alert class="alert-box warning radius">
			<p>Is Elastic Search running?</p>
			<p>If so, do you have any posts written yet?</p>
			<a href="#" class="close">&times;</a>
		</div>
	</f:else>
</f:if>
